@model IEnumerable<OPUS.Models.CourtAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Court Assignments</h2>

@if (Request.IsAuthenticated && (User.IsInRole("Ladies Monitor") || User.IsInRole("Mens Monitor") || User.IsInRole("Admin")))
{
    <a class="btn btn-primary" href="/CourtAssignments/ThisWeeksPlayers">Set This Week's Players</a>
    <a class="btn btn-primary" href="/CourtAssignments/Create">Add Court</a>
}
@using (Html.BeginForm("SelectDate", "CourtAssignments", FormMethod.Post, new { id = "TheForm" }))
{
    <table>
        <tr><td height="30"></td></tr>
        <tr>
            <td width="100px">Select Date</td>
            <td>
                @Html.DropDownList("Date", (IEnumerable<SelectListItem>)ViewBag.CourtDates, "--Select One--", new { onchange = "document.getElementById('TheForm').submit();" })
            </td>
        </tr>
        <tr><td height="30"></td></tr>
    </table>
}

<table class="table">
    @if (Session["PlayCode"].ToString().Equals("S"))
    {
        <tr>
            <td>
                <div class="color-box" style="background-color:rgba(131,117,69,1); color:white; text-align:center">Early Courts</div>
            </td>
        </tr>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Court)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player4)
        </th>
        <th></th>
    </tr>
    @{
        ViewBag.Time = "Early";
    }
    @Html.Partial("CAIndexPartial", Model)
    @if(ViewBag.LateCount != 0)
    {
        <tr>
            <td>
                <div class="color-box" style="background-color: rgba(131,117,69,1); color:white; text-align:center">Late Courts</div>
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Court)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player4)
            </th>
            <th></th>
        </tr>
        ViewBag.Time = "Late";
        @Html.Partial("CAIndexPartial", Model)
    }
</table>
<br />

<a class="btn btn-primary" href="/CourtAssignments/Print">Print Preview</a>
@if (Request.IsAuthenticated && (User.IsInRole("Ladies Monitor") || User.IsInRole("Mens Monitor") || User.IsInRole("Admin")))
{
    <a class="btn btn-primary" href="/CourtAssignments/Email">Email Court Assignments To STC Coordinator</a>
}
